.registration > form > button {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid rgb(163, 163, 173);
    border-radius: 3px;
    color: black;
    background: beige;
}

.registration > form > input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */